.vscode/
cover/coverpage.aux
cover/coverpage.fdb_latexmk
cover/coverpage.fls
cover/coverpage.log
cover/coverpage.pdf
cover/coverpage.synctex.gz
cover/coverpage.tex
cover_test/cover_test.aux
cover_test/cover_test.bbl
cover_test/cover_test.bcf
cover_test/cover_test.fdb_latexmk
cover_test/cover_test.fls
cover_test/cover_test.log
cover_test/cover_test.out
cover_test/cover_test.pdf
cover_test/cover_test.run.xml
cover_test/cover_test.synctex.gz
cover_test/cover_test.toc
thesis_skel/cover_only.aux
thesis_skel/cover_only.bbl
thesis_skel/cover_only.bcf
thesis_skel/cover_only.blg
thesis_skel/cover_only.fdb_latexmk
thesis_skel/cover_only.fls
thesis_skel/cover_only.log
thesis_skel/cover_only.out
thesis_skel/cover_only.pdf
thesis_skel/cover_only.run.xml
thesis_skel/cover_only.synctex.gz
thesis_skel/thesis_CRnEAS.aux
thesis_skel/thesis_DGH.aux
thesis_skel/thesis_DGL.aux
thesis_skel/thesis_alignment.aux
thesis_skel/thesis_follow.aux
thesis_skel/thesis_2009_skel.fdb_latexmk
thesis_skel/.DS_Store
thesis_skel/thesis_2009_skel.pdf
thesis_skel/thesis_2009_skel.synctex.gz
thesis_skel/thesis_intro.aux
thesis_skel/thesis_CRnNu.aux
thesis_skel/thesis_2009_skel.fls
thesis_skel/thesis_2009_skel.log
thesis_skel/thesis_2009_skel.aux
thesis_skel/thesis_2009_skel.bbl
thesis_skel/thesis_2009_skel.blg
thesis_skel/thesis_2009_skel.lof
thesis_skel/thesis_2009_skel.toc
thesis_skel/thesis_EAS.aux
thesis_skel/thesis_acknowledge.aux
thesis_skel/thesis_appendix_A.aux
thesis_skel/thesis_appendix_B.aux
thesis_skel/thesis_appendix_C.aux
thesis_skel/thesis_appendix_D.aux
thesis_skel/thesis_conclusion.aux
thesis_skel/thesis_refs.bib
thesis_skel/thesis_setup.aux